.container-wrapper {
    text-align: center;
  }
  
  .three-js-container {
    box-sizing: border-box;
    width: 300px; /* Kích thước theo mong muốn */
    height: 200px; /* Kích thước theo mong muốn */
    border: 1px solid #ccc; /* Bổ sung để nhìn rõ kích thước */
    display: inline-block; /* Đảm bảo nó không chiếm toàn bộ chiều rộng */
  }
  